/* StylizedButton.css */

.stylized-button {
    width: 190px;    /* Set a fixed width */
    height: 50px;    /* Set a fixed height */
    opacity: 0.9;
    border:none;
    border-radius:30px; /* Rounded corners */
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    cursor:pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    pointer-events: auto; /* Ensure pointer events are enabled */
    z-index: 1; /* Make sure it's on top of other elements */
  }
  
  /* Hover effect */
  .stylized-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
    opacity:1;
  }
  
  /* Active state for button click */
  .stylized-button:active {
    transform: scale(0.98); /* Slight press-down effect */
    opacity:0.8;
  }

.button-one{
  color:white;
  background-image: linear-gradient(135deg, #38dc07, #0a8f27);
}

.button-two{
  color:white;
  background-image: linear-gradient(135deg, #007BFF, #003399);
}
